<html>
<title> Welcome to Puppet Enterprise </title>
<body>
<h1> Hello !!! This is a puppet managed Web site. </h1>
<h3> You have connected to <%= @hostname %> web server </h3>
<h3> System uptime is: <%= @uptime %> </h3>
<h3> Operating System Family is: <%= @osfamily %> </h3>
</body>
</html>
